tr td { background: #FFF; color: #000; }
tr:nth-child(even) td { background: #eee; }
td a { display: block; text-align: right; color: #fff }
tr td.rg a { color: #000; }
tr td.rg { background: #6f6; }
tr td.r9 { background: #af6; }
tr td.r8 { background: #cf6; }
tr td.r7 { background: #df6; }
tr td.r6 { background: #ff6; }
tr td.r5 { background: #fd6; }
tr td.r4 { background: #fc6; }
tr td.r3 { background: #fb6; }
tr td.r2 { background: #fa6; }
tr td.r1 { background: #f86; }
tr td.r0 { background: #f66; }
